<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nayely Chele</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
      <header>
        <nav>
            <h1>NR</h1>

            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre">Sobre mí</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="inicio" class="hero">
        <h2>Nayely Ruiz</h2>
        <p>Desarrolladora en formación | Diseño & Tecnología</p>

        <a href="#contacto" class="btn">Contáctame</a>
    </section>

    <section id="sobre">
        <h2>Sobre mí</h2>

        <p>
            Soy estudiante apasionada por el desarrollo web,
            Python y el diseño de interfaces modernas.
        </p>
    </section>

    <section id="habilidades">
        <h2>Habilidades</h2>

        <div class="cards">

            <div class="card">Python</div>
            <div class="card">Django</div>
            <div class="card">HTML</div>
            <div class="card">CSS</div>
            <div class="card">UML</div>
            <div class="card">Estadística</div>

        </div>
    </section>

    <section id="proyectos">
        <h2>Proyectos</h2>

        <div class="cards">

            <div class="card">
                <h3>Calculadora Python</h3>
                <p>Aplicación de operaciones matemáticas.</p>
            </div>

            <div class="card">
                <h3>Sistema de Ventas</h3>
                <p>Proyecto realizado con Python y Django.</p>
            </div>

            <div class="card">
                <h3>Landing Page</h3>
                <p>Diseño moderno y responsive.</p>
            </div>

        </div>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>

        <p>Email: nayely@example.com</p>
        <p>Instagram: @nayely</p>
        <p>GitHub: github.com/nayely</p>
    </section>
</body>
</html